@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-caslon-text-regular {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #EFEFE2;
}
body .BackgroundColor {
  background: #EFEFE2;
}

.paginaDeInicio {
  background: #3E432E;
  width: 100%;
}
.paginaDeInicio > :nth-child(1) {
  width: min(1250px, 85%);
  margin: 0 auto;
  padding: 1rem 0rem;
}
.paginaDeInicio > :nth-child(1) a {
  all: unset;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
  font-size: 19px;
  cursor: pointer;
  color: white;
}
.paginaDeInicio > :nth-child(1) a:hover {
  text-decoration: underline;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header section, header aside {
  width: 50%;
  height: 100%;
}
header section {
  background: #EFEFE2;
  display: flex;
  place-content: center;
  align-items: center;
}
header section > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
header section > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) h3, header section > :nth-child(1) > :nth-child(1) > :nth-child(1) a, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) h3, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) a {
  all: unset;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: default;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) a, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.15rem;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) a:hover, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) a:hover {
  color: #3E432E;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) h3::-moz-selection, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) h3::-moz-selection {
  background: none;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) h3::selection, header section > :nth-child(1) > :nth-child(1) > :nth-child(2) h3::selection {
  background: none;
}
header section > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border: 1px solid black;
  border-radius: 16px;
  padding: 0px 6px;
}
header section > :nth-child(1) > :nth-child(2), header section > :nth-child(1) > :nth-child(3), header section > :nth-child(1) > :nth-child(4) {
  width: 100%;
  text-align: center;
}
header section > :nth-child(1) > :nth-child(2) h2, header section > :nth-child(1) > :nth-child(3) h2, header section > :nth-child(1) > :nth-child(4) h2 {
  all: unset;
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
header section > :nth-child(1) > :nth-child(3) h1, header section > :nth-child(1) > :nth-child(3) p {
  all: unset;
  font-size: 50px;
  font-family: "Libre Caslon Text", serif;
}
header section > :nth-child(1) > :nth-child(3) p {
  font-style: italic;
}
header section > :nth-child(1) > :nth-child(4) {
  margin: 0 auto;
  width: 80%;
}
header section > :nth-child(1) > :nth-child(4) p {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
}
header section > :nth-child(1) > :nth-child(4) p a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
}
header section > :nth-child(1) > :nth-child(5) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.45rem;
}
header section > :nth-child(1) > :nth-child(5) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
header section > :nth-child(1) > :nth-child(5) > :nth-child(1) > :nth-child(1) h4 {
  all: unset;
  font-size: 14px;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
}
header section > :nth-child(1) > :nth-child(5) > :nth-child(2) {
  width: 0%;
  height: 2px;
  background: black;
}
header aside {
  overflow: hidden;
  position: relative;
}
header aside > :nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../IMG/BACKGROUNDS/Background Mountains.jpg") center center no-repeat;
  background-size: cover;
  transform: scale(1.5);
  transform-origin: center;
  z-index: 8;
}
header aside > :nth-child(1):hover {
  transform: scale(1.25);
}
header aside > :nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  place-content: center;
  align-items: center;
}
header aside > :nth-child(2) > :nth-child(1) {
  margin: 0 auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  color: white;
  gap: 0.5rem;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) a {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) a > :nth-child(1) {
  height: 2px;
  width: 0px;
  background: white;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) a p {
  all: unset;
  font-size: 16px;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  text-underline-offset: 0.25rem;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(1) > :nth-child(2) a:hover > :nth-child(1) {
  width: 15px;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  width: 100%;
  text-align: center;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(2) h2 {
  all: unset;
  font-family: "Archivo", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  align-items: flex-end;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  width: 0%;
  height: 5px;
  background: white;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  display: flex;
  width: 100%;
  background: white;
  display: flex;
  place-content: center;
  align-items: center;
  padding: 0.75rem 0rem;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
  align-items: center;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  width: min(90px, 100%);
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  text-align: center;
  width: 80%;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) p {
  font-size: 16px;
  color: black;
  font-family: "Archivo", sans-serif;
  line-height: 1.3;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) p span {
  font-weight: 600;
  text-decoration: underline;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  all: unset;
  font-family: "Archivo", sans-serif;
  cursor: pointer;
  background: #3E432E;
  padding: 0px 1px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(3):hover {
  transform: scale(1.05);
  transition: 0.4s;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  width: min(25px, 90%);
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(1) img {
  width: 100%;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) {
  color: white;
  font-weight: 600;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.45rem;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(1) h4 {
  all: unset;
  font-size: 14px;
  color: white;
  font-weight: 500;
  font-family: "Archivo", sans-serif;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(2) {
  flex: 0;
  height: 2px;
  background: white;
}
header aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(2) {
  width: 0%;
  height: 2px;
  background: white;
}

section > :nth-child(1) > :nth-child(1), section > :nth-child(1) > :nth-child(2), section > :nth-child(1) > :nth-child(3), section > :nth-child(1) > :nth-child(4), section > :nth-child(1) > :nth-child(5) {
  transform: translateY(100%);
  opacity: 0%;
}
section > :nth-child(1) > :nth-child(1) {
  transition-delay: 0.3s;
  transition: 1.75s;
}
section > :nth-child(1) > :nth-child(2) {
  transition-delay: 0.6s;
  transition: 1.75s;
}
section > :nth-child(1) > :nth-child(3) {
  transition-delay: 0.9s;
  transition: 1.75s;
}
section > :nth-child(1) > :nth-child(4) {
  transition-delay: 1.2s;
  transition: 1.75s;
}
section > :nth-child(1) > :nth-child(5) {
  transition-delay: 1.5s;
  transition: 1.75s;
}
section > :nth-child(1) > :nth-child(5) > :nth-child(2) {
  transition: 1s;
}

.sectionAfter > :nth-child(1) > :nth-child(1), .sectionAfter > :nth-child(1) > :nth-child(2), .sectionAfter > :nth-child(1) > :nth-child(3), .sectionAfter > :nth-child(1) > :nth-child(4), .sectionAfter > :nth-child(1) > :nth-child(5) {
  transform: translateY(0%);
  opacity: 100%;
}
.sectionAfter > :nth-child(1) > :nth-child(5) > :nth-child(2) {
  width: 100%;
}

aside > :nth-child(1) {
  transform: scale(1.5);
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(1), aside > :nth-child(2) > :nth-child(1) > :nth-child(2), aside > :nth-child(2) > :nth-child(1) > :nth-child(3), aside > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  transform: translateY(100%);
  opacity: 0%;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(1) {
  transition-delay: 1.8s;
  transition: 1.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(2) {
  transition-delay: 2.1s;
  transition: 1.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  transition-delay: 2.4s;
  transition: 1.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  width: 100%;
  transition: 1.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  transform: translateY(200%);
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) {
  transition-delay: 2.7s;
  transition: 1.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(2) {
  flex: 0;
  transition: 1.75s;
  transition: 2.75s;
}
aside > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(2) {
  transition-delay: 2.7s;
  width: 0%;
  transition: 1.75s;
}

.asideAfter > :nth-child(1) {
  transition-delay: 0.3s;
  transition: 1.75s;
  transform: scale(1);
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(1), .asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(2), .asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(3), .asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  transform: translateY(0%);
  opacity: 100%;
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(3) {
  transition-delay: 2.4s;
  transition: 1.75s;
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(1) {
  width: 100%;
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(4) {
  transition-delay: 2.7s;
  transition: 1.75s;
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(1) > :nth-child(2) {
  flex: 1;
  transition: 1s;
}
.asideAfter > :nth-child(2) > :nth-child(1) > :nth-child(4) > :nth-child(2) {
  width: 100%;
  transition: 1s;
}

@media (max-width: 900px) {
  body {
    display: flex;
    flex-flow: column wrap;
  }
  body header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  body header section, body header aside {
    width: 100%;
    height: 100vh;
  }
  body header aside > :nth-child(2) > :nth-child(1) > :nth-child(3) > :nth-child(2) > :nth-child(1) > :nth-child(2) {
    width: 100%;
    font-size: 16px;
  }
  body .displayNome-footer {
    display: none;
  }
}
main {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0rem;
}
main .buttonsSelection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: min(1250px, 85%);
  margin: 0 auto;
  margin-bottom: 1rem;
}
main .buttonsSelection > :nth-child(1), main .buttonsSelection > :nth-child(2) {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 7.5px;
}
main .buttonsSelection > :nth-child(1) p, main .buttonsSelection > :nth-child(2) p {
  all: unset;
  color: black;
  font-size: 15px;
}
main .buttonsSelection > :nth-child(1) .imagePrevNext, main .buttonsSelection > :nth-child(2) .imagePrevNext {
  width: min(55px, 100%);
  transform: translateY(-15%);
}
main .buttonsSelection > :nth-child(1) .imagePrevNext svg, main .buttonsSelection > :nth-child(2) .imagePrevNext svg {
  width: 100%;
}
main .carousel {
  width: min(1250px, 85%);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
main .carousel .carousel-item .container {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  gap: 1.5rem;
}
main .carousel .carousel-item .container .uno {
  width: 50%;
  width: min(350px, 95%);
}
main .carousel .carousel-item .container .uno img {
  width: 100%;
}
main .carousel .carousel-item .container .dos {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1rem;
}
main .carousel .carousel-item .container .dos > :nth-child(1) h3 {
  all: unset;
  font-family: "Judson", serif;
  font-size: 25px;
}
main .carousel .carousel-item .container .dos > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  transform: translateX(-5%);
}
main .carousel .carousel-item .container .dos > :nth-child(2) > div {
  width: min(110px, 95%);
  box-shadow: 2px 2px 2px gray;
}
main .carousel .carousel-item .container .dos > :nth-child(2) > div img {
  width: 100%;
}
main .carousel .carousel-item .container .dos > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}
main .carousel .carousel-item .container .dos > :nth-child(3) h2 {
  all: unset;
  font-family: "Judson", serif;
  font-weight: 800;
  font-size: 33px;
}
main .carousel .carousel-item .container .dos > :nth-child(3) h5 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
main .carousel .carousel-item .container .dos > :nth-child(4) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
}
main .carousel .carousel-item .container .dos > :nth-child(4) p {
  all: unset;
  font-size: 16px;
}
main .whatsAppCallActions {
  display: flex;
  place-content: center;
  align-items: center;
}
main .whatsAppCallActions a {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #40C351;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
main .whatsAppCallActions a:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
main .whatsAppCallActions a > :nth-child(1) {
  width: min(40px, 100%);
}
main .whatsAppCallActions a > :nth-child(1) img {
  width: 100%;
}
main .whatsAppCallActions a p {
  all: unset;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 990px) {
  main .buttonsSelection {
    width: min(1250px, 90%);
  }
  main .buttonsSelection > :nth-child(1), main .buttonsSelection > :nth-child(2) {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 7.5px;
  }
  main .buttonsSelection > :nth-child(1) p, main .buttonsSelection > :nth-child(2) p {
    all: unset;
    color: black;
    font-size: 15px;
  }
  main .buttonsSelection > :nth-child(1) .imagePrevNext, main .buttonsSelection > :nth-child(2) .imagePrevNext {
    width: min(40px, 100%);
  }
  main .carousel {
    width: min(1250px, 95%);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    place-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  main .carousel .carousel-item .container {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  main .carousel .carousel-item .container .uno {
    width: 85%;
    width: min(250px, 95%);
  }
  main .carousel .carousel-item .container .dos {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  main .carousel .carousel-item .container .dos > :nth-child(1) {
    text-align: center;
  }
  main .carousel .carousel-item .container .dos > :nth-child(1) h3 {
    all: unset;
    font-family: "Judson", serif;
    font-size: 20px;
  }
  main .carousel .carousel-item .container .dos > :nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    transform: translateX(0%);
  }
  main .carousel .carousel-item .container .dos > :nth-child(2) > div {
    width: min(100px, 95%);
  }
  main .carousel .carousel-item .container .dos > :nth-child(3) {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
  }
  main .carousel .carousel-item .container .dos > :nth-child(3) h2 {
    all: unset;
    font-family: "Judson", serif;
    font-weight: 800;
    font-size: 26px;
  }
  main .carousel .carousel-item .container .dos > :nth-child(3) h5 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
  main .carousel .carousel-item .container .dos > :nth-child(4) {
    display: flex;
    flex-flow: column wrap;
    gap: 0.25rem;
  }
  main .carousel .carousel-item .container .dos > :nth-child(4) p {
    all: unset;
    font-size: 16px;
  }
}
.carrusel2 {
  width: min(1250px, 85%);
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 0rem;
  align-items: center;
  place-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.carrusel2 .buttonsSelection {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: min(1250px, 100%);
  margin: 0 auto;
  margin-bottom: 1rem;
}
.carrusel2 .buttonsSelection > :nth-child(1), .carrusel2 .buttonsSelection > :nth-child(2) {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 7.5px;
}
.carrusel2 .buttonsSelection > :nth-child(1) p, .carrusel2 .buttonsSelection > :nth-child(2) p {
  all: unset;
  color: black;
  font-size: 15px;
}
.carrusel2 .buttonsSelection > :nth-child(1) .imagePrevNext, .carrusel2 .buttonsSelection > :nth-child(2) .imagePrevNext {
  width: min(55px, 100%);
  transform: translateY(-15%);
}
.carrusel2 .buttonsSelection > :nth-child(1) .imagePrevNext svg, .carrusel2 .buttonsSelection > :nth-child(2) .imagePrevNext svg {
  width: 100%;
}
.carrusel2 .carousel {
  width: min(1250px, 85%);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-content: center;
  overflow: hidden;
  margin-bottom: 1rem;
}
.carrusel2 .carousel .carousel-item .container {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  gap: 1.5rem;
}
.carrusel2 .carousel .carousel-item .container .uno {
  width: 50%;
  width: min(350px, 95%);
}
.carrusel2 .carousel .carousel-item .container .uno img {
  width: 100%;
}
.carrusel2 .carousel .carousel-item .container .dos {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 1rem;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(1) h3 {
  all: unset;
  font-family: "Judson", serif;
  font-size: 25px;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
  transform: translateX(-5%);
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(2) > div {
  width: min(110px, 95%);
  box-shadow: 2px 2px 2px gray;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(2) > div img {
  width: 100%;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) {
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) h2 {
  all: unset;
  font-family: "Judson", serif;
  font-weight: 800;
  font-size: 33px;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) h5 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(4) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25rem;
}
.carrusel2 .carousel .carousel-item .container .dos > :nth-child(4) p {
  all: unset;
  font-size: 16px;
}
.carrusel2 .whatsAppCallActions {
  display: flex;
  place-content: center;
  align-items: center;
}
.carrusel2 .whatsAppCallActions a {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: #40C351;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
.carrusel2 .whatsAppCallActions a:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.carrusel2 .whatsAppCallActions a > :nth-child(1) {
  width: min(40px, 100%);
}
.carrusel2 .whatsAppCallActions a > :nth-child(1) img {
  width: 100%;
}
.carrusel2 .whatsAppCallActions a p {
  all: unset;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 990px) {
  .carrusel2 .buttonsSelection {
    width: min(1250px, 90%);
  }
  .carrusel2 .buttonsSelection > :nth-child(1), .carrusel2 .buttonsSelection > :nth-child(2) {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 7.5px;
  }
  .carrusel2 .buttonsSelection > :nth-child(1) p, .carrusel2 .buttonsSelection > :nth-child(2) p {
    all: unset;
    color: black;
    font-size: 15px;
  }
  .carrusel2 .buttonsSelection > :nth-child(1) .imagePrevNext, .carrusel2 .buttonsSelection > :nth-child(2) .imagePrevNext {
    width: min(40px, 100%);
  }
  .carrusel2 .carousel {
    width: min(1250px, 95%);
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    place-content: center;
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .carrusel2 .carousel .carousel-item .container {
    display: flex;
    flex-flow: row wrap;
    place-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .carrusel2 .carousel .carousel-item .container .uno {
    width: 85%;
    width: min(250px, 95%);
  }
  .carrusel2 .carousel .carousel-item .container .dos {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(1) {
    text-align: center;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(1) h3 {
    all: unset;
    font-family: "Judson", serif;
    font-size: 20px;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    transform: translateX(0%);
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(2) > div {
    width: min(100px, 95%);
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) h2 {
    all: unset;
    font-family: "Judson", serif;
    font-weight: 800;
    font-size: 26px;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(3) h5 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(4) {
    display: flex;
    flex-flow: column wrap;
    gap: 0.25rem;
  }
  .carrusel2 .carousel .carousel-item .container .dos > :nth-child(4) p {
    all: unset;
    font-size: 16px;
  }
}
footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  place-content: center;
  padding: 50px 0px;
  background: #3E432E;
  font-family: "Archivo", sans-serif;
}
footer > :nth-child(1) {
  width: min(1250px, 85%);
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
footer > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 6.5rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;
  gap: 3.85rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
  width: 100%;
  max-width: 10rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.95rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) svg {
  fill: white;
  cursor: pointer;
  transition: 0.1s;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) svg:hover {
  transform: scale(1.05);
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  gap: 0.5rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a {
  all: unset;
  transition: 0.3s;
  font-size: 15.5px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 0.5rem;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a > :nth-child(1) {
  width: min(25px, 100%);
  cursor: pointer;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a > :nth-child(1):hover {
  transform: scale(1.05);
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a > :nth-child(1) img {
  width: 100%;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a p {
  cursor: pointer;
}
footer > :nth-child(1) > :nth-child(1) > :nth-child(2) a p:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
footer > :nth-child(1) > :nth-child(1) .specialFixBootstrap a > :nth-child(1) {
  transform: translateY(-25%);
}
footer > :nth-child(1) > :nth-child(1) .specialFixBootstrap a > :nth-child(1):hover {
  transform: translateY(-25%) scale(1.05);
}
footer > :nth-child(1) > :nth-child(2) {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 2rem;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) a {
  all: unset;
  cursor: pointer;
  background: rgb(255, 255, 255);
  padding: 0.5rem 0.65rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) a:hover {
  transform: scale(1.05); /* Slightly scale up */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  transition: 0.5s;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) a > :nth-child(1) {
  width: min(25px, 90%);
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) a > :nth-child(1) svg {
  width: 100%;
  fill: #3E432E;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(1) a > :nth-child(2) p {
  all: unset;
  font-weight: 500;
  font-size: 16px;
  color: #3E432E;
  font-weight: 600;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(2) p {
  all: unset;
  font-size: 15.5px;
  color: white;
  cursor: default;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(2) p::-moz-selection {
  background: none;
}
footer > :nth-child(1) > :nth-child(2) > :nth-child(2) p::selection {
  background: none;
}

@media (max-width: 1050px) {
  footer {
    width: 100%;
    padding: 20px 0px;
  }
  footer > :nth-child(1) {
    width: 95%;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
  }
  footer > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1.5rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(1) {
    max-width: 7.5rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.95rem;
  }
  footer > :nth-child(1) > :nth-child(1) > :nth-child(2) {
    gap: 0rem;
  }
  footer > :nth-child(1) > :nth-child(2) {
    gap: 1.5rem;
    align-items: center;
  }
  footer > :nth-child(1) > :nth-child(2) > :nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
}
.whatsappScreenPositionInternal {
  position: fixed;
  margin-bottom: 1rem;
  margin-right: 1rem;
  right: 0;
  bottom: 0%;
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  gap: 0.5rem;
  z-index: 2000;
}
.whatsappScreenPositionInternal .whatsappCallAction {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1) {
  width: min(50px, 100%);
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1):hover {
  transform: scale(1.05);
}
.whatsappScreenPositionInternal .whatsappCallAction > :nth-child(1) img {
  width: 100%;
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0rem;
}
.tabs .tab-button {
  all: unset;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.tabs .tab-button:hover {
  -webkit-text-decoration: underline 0.12rem solid black;
          text-decoration: underline 0.12rem solid black;
  text-underline-offset: 0.15rem;
}
.tabs .tab-button.active {
  -webkit-text-decoration: underline 0.12rem solid black;
          text-decoration: underline 0.12rem solid black;
  text-underline-offset: 0.15rem;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}/*# sourceMappingURL=styles.css.map */